.axo{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/axo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.azal{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/azal.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.kroton{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/krotons.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.masterBrain{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/masterBrain.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.karkus{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/karkus.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.betaDard{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/betaDard.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.anneTravers{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/anneTravers.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.adventure{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/adventure.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.olive{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/olive.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.sondergaard{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/sondergaard.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

.soloniens{
  background-image:url(../La-Seance-du-Docteur/Matrice/img/soloniens.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size:20px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
}
